<div class="page-header">
    <h1>Add your Product</h1>
</div><!-- /.page-header -->

<form role="form"
      id="addPage"
      name="addPage"
      class="form-horizontal"
      ng-submit="addProduct()">

    <!--Input for Product Category-->
    <div class="form-group">
        <label for="category"
               class="col-sm-2 control-label">
            Product Category
        </label><!-- /.col-sm-2 control-label -->
        <div class="col-sm-10">
            <select class="form-control"
                    id="category"
                    ng-model="newProduct.category"
                    required>
                <option ng-repeat="category in categories">
                    {{ category }}
                </option>
            </select><!-- /#category.form-control -->
        </div>
                <!-- /.col-sm-10 -->
    </div>
    <!-- /.form-group -->

    <div class="row"
         ng-if="uploadedPicUrl">
        <div class="col-sm-offset-2 col-sm-10">
            <img ng-src="{{ uploadedPicUrl }}"
                 width="250" />
        </div>
        <!-- /.col-sm-offset-2 col-sm-10 -->
    </div>
    <!-- /.row -->

    <!--Input for Product Picture-->
    <div class="form-group">
        <label for="pic"
               class="col-sm-2 control-label">
            Product Picture
        </label><!-- /.col-sm-2 control-label -->
        <div class="col-sm-10">
            <input type="file"
                   class="form-control"
                   id="pic"
                   accept="image/*"
                   ng-model="newProduct.pic"
                   onchange="angular.element(this).scope().uploadImage(this.files)" /><!-- /#pic.form-control -->
        </div>
                <!-- /.col-sm-10 -->
    </div>
    <!-- /.form-group -->

    <!--Input for Product Title-->
    <div class="form-group">
        <label for="title"
               class="col-sm-2 control-label">
            Product Title
        </label><!-- /.col-sm-2 control-label -->
        <div class="col-sm-10">
            <input type="text"
                   class="form-control"
                   id="title"
                   ng-model="newProduct.title"
                   placeholder="Product Title"
                   required /><!-- /#title.form-control -->
        </div>
                <!-- /.col-sm-10 -->
    </div>
    <!-- /.form-group -->

    <!--Input for Product Description-->
    <div class="form-group">
        <label for="description"
               class="col-sm-2 control-label">
            Product Description
        </label><!-- /.col-sm-2 control-label -->
        <div class="col-sm-10">
          <textarea rows="8"
                    type="text"
                    class="form-control"
                    id="description"
                    ng-model="newProduct.description"
                    placeholder="Product Description"
                    required></textarea><!-- /#description.form-control -->
        </div>
                <!-- /.col-sm-10 -->
    </div>
    <!-- /.form-group -->

    <!--Input for Product Price-->
    <div class="form-group">
        <label for="price"
               class="col-sm-2 control-label">
            Product Price
        </label><!-- /.col-sm-2 control-label -->
        <div class="col-sm-10">
            <input type="number"
                   class="form-control"
                   id="price"
                   ng-model="newProduct.price"
                   placeholder="Product Price" /><!-- /#price.form-control -->
        </div>
                <!-- /.col-sm-10 -->
    </div>
    <!-- /.form-group -->


    <!-- #addPage: Submit -->
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit"
                    class="btn btn-primary"
                    ng-disabled="addPage.$invalid">
                Submit
            </button>
            <!-- /.btn btn-primary -->
        </div>
        <!-- /.col-sm-offset-2 col-sm-10 -->
    </div>
    <!-- /.form-group -->
</form><!-- /.form-horizontal -->
